html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
  background: rgb(130, 198, 248);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  padding: 60px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  max-width: 500px;
  margin: 0 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 60px;
}

.header__link {
  font: normal 400 1rem "Prompt", sans-serif;
  color: #fff;
}

.parallax {
  min-height: 100vh;
}

.parallax__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.parallax__content {
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 40%;
  z-index: 10;
  opacity: 0;
}

.parallax__title {
  font: normal 400 7.5rem "Gravitas One", serif;
  color: #fff;
  text-transform: uppercase;
}

.parallax__text {
  font: normal 400 1.5rem "Gravitas One", serif;
  color: #fff;
}

.parallax__images {
  width: 100%;
  height: 500vh;
}

.parallax__item {
  width: 100%;
  height: 100vh;
}

.parallax__mountain,
.parallax__clouds,
.parallax__trees,
.parallax__cave,
.parallax__ellipse {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
}

.parallax__mountain {
  background: url(../img/mountain.png) center/contain no-repeat;
  top: -20%;
}

.parallax__clouds {
  background: url(../img/clouds.png) center/contain no-repeat;
  top: 0;
}

.parallax__trees {
  background: url(../img/trees.png) center/contain no-repeat;
  top: 13%;
}

.parallax__cave {
  background: url(../img/cave.png) center/cover no-repeat;
  top: 0;
}

.parallax__ellipse {
  background: url(../img/ellipse.png) center/cover no-repeat;
  top: 0;
}

.parallax__bloc {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: fixed;
  bottom: 50px;
  z-index: 10;
  background: rgba(30, 30, 30, 0.7);
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.parallax__arrow {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  position: relative;
}

.parallax__arrow::before,
.parallax__arrow::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  opacity: 0;
  -webkit-animation: arrow 3s linear infinite;
  animation: arrow 3s linear infinite;
}

.parallax__arrow::after {
  -webkit-animation: arrow 3s linear infinite 1.5s;
  animation: arrow 3s linear infinite 1.5s;
}

.content {
  margin: 500px 0 0 0;
  width: 100%;
  position: relative;
  z-index: 100;
  background: #1e1e1e;
}

.content ::before {
  content: "";
  width: 100%;
  height: 150px;
  position: absolute;
  top: -150px;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 62, 87, 0.2)), to(rgba(30, 30, 30, 0.6)));
  background: linear-gradient(rgba(35, 62, 87, 0.2), rgba(30, 30, 30, 0.6));
}

.content__box {
  width: 100%;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px 0;
}

.content__text {
  font: normal 400 1rem/150% "Gravitas One", serif;
  color: #fff;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -12px) rotate(-45deg);
    transform: translate(0, -12px) rotate(-45deg);
  }

  10% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(-45deg);
    transform: translate(0, 0) rotate(-45deg);
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, 12px) rotate(-45deg);
    transform: translate(0, 12px) rotate(-45deg);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -12px) rotate(-45deg);
    transform: translate(0, -12px) rotate(-45deg);
  }

  10% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(-45deg);
    transform: translate(0, 0) rotate(-45deg);
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, 12px) rotate(-45deg);
    transform: translate(0, 12px) rotate(-45deg);
  }
}

@supports (-webkit-appearance:none) {
  .parallax__mountain {
    background: url(../img/mountain.webp) center/contain no-repeat;
  }

  .parallax__clouds {
    background: url(../img/clouds.webp) center/contain no-repeat;
  }

  .parallax__trees {
    background: url(../img/trees.webp) center/contain no-repeat;
  }

  .parallax__cave {
    background: url(../img/cave.webp) center/cover no-repeat;
  }

  .parallax__ellipse {
    background: url(../img/ellipse.webp) center/cover no-repeat;
  }
}